.resourceGrid{
    margin-bottom:65px;
}
.resourceGrid{
    margin-left:0;
    width:98%;
    height:100px;
    grid-gap:0px 10px;
}
@media only screen and (max-width: 900px) {
    .blogItem{
        width:calc(10vw + 30px) !important;
        height:calc(10vw + 30px) !important;
        min-width:80px !important;
        min-height:90px !important;
        max-width:150px !important:
        max-height:100px !important;
    }
}
.blogItem{
    height:calc(15vw + 50px);
    width:100%;
    border:1px solid lightgray;
    border-radius:3px;
    max-width:300px;
    min-width:180px;
    max-height:290px;
    min-height:180px;
    margin:auto;
    transition:0.2s;
}
.blogItem:hover{
    cursor:pointer;
    box-shadow:0px 0px 10px 0px lightgray;
}
.blogItem .imgContainer{
    height:57%;
    border:0px solid blue;
    background:center no-repeat;
    background-size:100%;
}
.blogItem h2{
    color:rgba(0,0,0,0.7);
    font-size:calc(5px + 1vw) !important;
    padding:5px;
}
/*
this is code for the whole element

<div class='row' style='height:100%;'>
  <h2 style='margin-left:10%;padding-top:40px;'>Resources</h2>
  <div class='resourceGrid'>
    <style>
        .resource img{

        }
        .resourceImgContainer{
            max-width:300px;
            height:150px;
            border:0px solid green;
            overflow:hidden;
        }

        .blogCover{
            width:100%;
        }
        .blogCover2{
            height:100%;
            margin:auto;
        }
        #blog2{
            margin:auto;
        }


        @media only screen and (max-width: 900px) {
            .blogItem{
                width:calc(10vw + 30px) !important;
                height:calc(10vw + 30px) !important;
                min-width:80px !important;
                min-height:90px !important;
                max-width:150px !important:
                max-height:100px !important;
            }
        }
        .blogItem{
            height:calc(15vw + 50px);
            width:100%;
            border:1px solid lightgray;
            border-radius:3px;
            max-width:300px;
            min-width:180px;
            max-height:290px;
            min-height:180px;
            margin:auto;
        }
        .blogItem:hover{
            cursor:pointer;

        }
        .blogItem .imgContainer{
            height:57%;
            border:0px solid blue;
            background:center no-repeat;
            background-size:100%;
        }
        .blogItem h2{
            color:rgba(0,0,0,0.7);
            font-size:calc(5px + 1vw) !important;
            padding:5px;
        }
    </style>
    <!--
    Blog Pics:




    -->
    <a href='/library/blog'>
    <div class='blogItem'>

        <div class='imgContainer' style='background-image:url("/images/blogs/blog1.png")'></div>
        <div class='title'><h2>Assessments at Work</h2></div>

    </div>
    </a>

    <a href='/working_files/blog'>
    <div class='blogItem'>
        <div class='imgContainer' style='background-image:url("/images/blogs/blog3.png")'></div>
        <div class='title'><h2>What are Non Technical Skills?</h2></div>
    </div>
    </a>

    <a href='/working_files/blog'>
    <div class='blogItem'>
        <div class='imgContainer' style='background-image:url("/images/blogs/blog3.png")'></div>
        <div class='title'><h2>What are Non Technical Skills?</h2></div>
    </div>
    </a>
    <!--
    <a href='/working_files/blog'>
        <div class='gridBlock resource'>
            <div class='resourceImgContainer' id='blog1'>
             <img src='/images/blogs/blog1.png' class='blogCover'>
            </div>



          <img src='/images/blogs/blog1.png'  height='' width='100%' style='width:100%;' class='pic'>
          <h3 class='gray title'>Modern Day Meetings</h3>
          <img src='/images/blogs/blog1.png' class='blogCover'>
            <img src='/images/blogs/blog2.png' class='blogCover'>
            <img src='/images/blogs/blog3.png'  height='170px' class=''>


          <h3 class='gray title'>What are Non Technical Skills?</h3>
        </div>

    </a>

    <a href='/library/blog'>
        <div class='gridBlock resource'>
          <div class='resourceImgContainer flexcenter' id='blog2'>
             <img src='/images/blogs/blog2.png' class='blogCover' style='margin-top:-50px'>
            </div>
            <h3 class='gray title'>Assessments at Work</h3>
        </div>

    </a>

    <a href='/library/blog'>
        <div class='gridBlock resource'>
          <div class='resourceImgContainer flexcenter' >
                 <img src='/images/blogs/blog3.png' class='blogCover' style=''>
                </div>
          <h3 class='gray title'>Q4</h3>
        </div>
    </a>
    -->
  </div><!--end resc grid-->
</div><!--end row-->
*/
