body{
  margin:0;
  padding:0;
  font-family:"Helvetica";
  font-weight:thinner;
  /*headers*/
  --responsive-font:calc(1vw + 28px);
  --small-responsive-font:calc(1vw + 13px);
  /*for detail text*/
  --detail-responsive-font:calc(0.8vw + 7px);
  overflow-x:hidden;
}
h1{font-size:var(--responsive-font);}
h2{font-size:var(--small-responsive-font);}
p{font-size:var(--detail-responsive-font);}

/*-------Nav--------*/
nav{
  position:fixed;
  color:gray;
  top:0;
  left:0;
  width:100%;
  height:60px;
  background-color:white;
  transition:0.3s, padding 0.5s;
  z-index:10;
  padding:10px;
}
nav.scroll {
  background-color: rgba(250,250,250,0.95);
  box-shadow:0px 0px 4px 0px gray;
  border-radius:0px 0px 7px 5px;
  padding:0px;
}
.navLinks li{
  list-style-type: none;
  cursor:pointer;
  border:0px solid red;
  padding:6px;
}
.navLinks .left{margin-left:30px;float:left;}
.navLinks .right{margin-right:50px;float:right;}
.navLinks li:hover{
  color:lightgray;
  transition:0.2s;
}
.navLinks a{
    text-decoration: none;
    color:rgba(150,150,150,1);
    transition:0.2s;
    font-weight:lighter;
}
.navLinks a:hover{
    color:lightgray;
    text-decoration: none;
}
.blackShadow2{
  box-shadow:1px 2px 5px 0px black;
  background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6));
}
.blackShadow{
  box-shadow:1px 2px 5px 0px black;
  background:linear-gradient(9deg,rgba(96,164,240,0.7) 0.2%,blue 15%,darkblue 90%);
}
.redShadow{box-shadow:1px 2px 5px 0px rgba(187,0,0,0.6);}
#getStarted{
  border:0px solid blue;
  padding:9px;
  margin-top:-8px;
  border-radius:3px;
  background:rgba(187,0,0,1);
  color:rgba(250,250,250,0.8);
}
#getStarted:hover{
 transition:0.2s;
 transform:translate(0px,-2px);
 box-shadow:1px 2px 5px 0px gray;
 background:#468499;
}
#getStarted:active{
 transform:translate(0px,-1px);
}
#signIn{
  /*color:lightblue;*/

}
#signIn:hover{
    opacity:0.7;
}

/*-------general elements--------*/
.gridBlock{
  height:100%;
  width:100%;
  background:transparent;
}
.row{
  position:relative;
  width:100%;
  height:400px;
  border:1px solid rgba(227,230,232,1);
  z-index:3;
}
.title{
  text-align:center;
}
/*-------first row--------*/
.intro{
  position:relative;
  height:100vh;
  min-height:500px;
  width:100%;
  border:0px solid red;

  /*background:linear-gradient(170deg,white,lightgray);*/
  /*box-shadow:0px 0px 10px 0px black;*/

  z-index:5;
}
#introText{
  position:absolute;
  height:200px;
  width:42%;
  border:0px solid red;
  top:20%;
  left:10%;
}
#introPic{
  position:absolute;
  height:300px;
  width:42.1%;
  right:6%;
  top:23.5%;
  border:0px solid red;
  display:flex;
  align-items:center;
}
#compPic{
  display:none;
  height:80%;
  margin:auto;
}
#startButton{
  background:rgba(187,0,0,1);
  text-align:center;
  max-width:400px;
  border-radius:3px;
  color:rgba(250,250,250,0.8);
  box-shadow:0px 0px 10px 0px gray;
  transition:0.22s;
  margin-top:35px;
  padding:12px;
  font-size:19px;
  width:25%;
}
#startButton:hover{
  cursor:pointer;
  background:#468499;
}
/*-------second row--------*/
#RowColor{
  background:white;
  z-index:1;
  position:relative;
}

.textAndPicGrid{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr;
  height:250px;
  width:80%;
  margin-left:10%;
  border:0px solid lightgreen;
}
.skillsGrid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr ;
  grid-template-rows:1fr 1fr;
  height:550px;
  width:80%;
  margin-left:10%;
  margin-bottom:100px;
  border:0px solid lightgreen;
  grid-gap:50px;
}
.skillsGrid .gridBlock{
  height:150px;
  width:74%;
  margin-left:13%;
  box-shadow:0px 0px 80px 0px lightgray;
}
.skillsGrid .gridBlock ul{
  list-style:none;
}
.skillsGrid .gridBlock ul li:before {
		content: "\00BB \0020";
	     }
.skillsGrid h3{
  font-size:23px;
  background:rgba(187,0,0,0.85);
  color:white;
  font-weight:thinner;
  display:flex;
  align-items:center;
  /*justify content centers horizontally in flex*/
  border-radius:4px;
  padding:15px;
}
.skillsGrid .gridBlock{
  background:rgba(187,0,0,1);
  height:100%;
  color:white;
  border-radius:2px 2px 5px 5px;
}

#non-technical{
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  box-shadow: 0px 0px 10px 0px gray;
}

/*-------third row--------*/
.blurbGrid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:1fr;
  grid-gap:10px 50px;
  height:250px;
  width:80%;
  margin-top:50px;
  margin-left:10%;
  border:0px solid lightgreen;
}
.blurbGrid .gridBlock{
  border-bottom:2px solid gray;
  transition:0.15s;
}
.blurbGrid .gridBlock:hover{
  border-bottom:4px solid rgba(187,0,0,1);
  cursor:default;
}
.blurbGrid .gridBlock:hover .material-icons{
  color:rgba(250,0,15,1);
}

/*-------fourth row--------*/
.videoGrid{
  display:grid;
  grid-template-columns:1.5fr 1fr 1fr;
  grid-template-rows:1fr 1fr;
  margin-top:50px;
  width:80%;
  margin-left:10%;
  border:0px solid lightgreen;
}
.videoGrid .gridBlock{
  max-height:200px;
  border:0px solid blue;
  border-radius:3px;
  text-align:center;
}
.videoGrid p{
  color:gray;
  font-size:15px;
}

/*-------fifth row--------*/
.resourceGrid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:1fr;
  grid-gap:5px 100px;
  height:300px;
  width:80%;
  margin-left:10%;
  margin-bottom:100px;
  border:0px solid lightgreen;
}

.resource{
  margin-top:0px;
  transition:0.2s;
  border-radius:3px;
  border:1px solid lightgray;
  background:white;
}
.resource:hover{
  cursor:pointer;
  transform:translate(0px,-3px);
  box-shadow:2px 4px 10px 0px lightgray;
  background:rgba(240,240,240,1);
}
/*footershit*/
footer{
  position:relative;
  height:180px;
  width:100%;
  padding-top:10px;
  background:rgba(240,240,240,1);
}
.footerGrid{
  display:grid;
  grid-template:1fr/1fr 1fr 1fr 1fr;
  height:100%;
  width:70%;
  margin-left:20%;
  border:0px solid gray;
  line-height:2;
}
.footerGrid b{
  font-size:17px;
}

/*animations*/
@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}
#firstFade{
  opacity:0;
  animation:fadeIn 1.5s 0s forwards;
}
#secondFade{
  opacity:0;
  animation:fadeIn 1.5s 0.2s forwards;
}
@keyframes slideFromLeft{
  0%{
    opacity:0;
    margin-right:10px;
  }
  100%{opacity:1;}
}
#firstSkill,#secondSkill,#thirdSkill,#fourthSkill,#fifthSkill,#sixthSkill{
  opacity:0;
}
.material-icons{
  border:0px solid blue;
  font-size:30px;
  width:100%;
  text-align:center;
  transition:0.2s;
}

.gray{
  color:rgba(50,50,50,1);
}
.pic{
  width:100%;
  border-radius:2px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
